.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

header {
    border: 10px solid;
    text-align: center;
    background-color: grey;
}

.carCards {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  background-color: #3486eb;
}

