*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

main {
  padding: 200px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

header {
    border: 10px solid;
    text-align: center;
    background-color: grey;
}

footer {
  flex: 1;
  border: 10px solid;
  text-align: center;
  background-color: grey; 
}

.footer-text {
  font-size: x-large;
}

.button {
  text-decoration: none;
}

.title {
  text-decoration: none;
}