*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

main {
  padding: 200px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

header {
    border: 10px solid;
    text-align: center;
    background-color: grey;
}

footer {
  flex: 1;
  border: 10px solid;
  text-align: center;
  background-color: grey; 
}

.footer-text {
  font-size: x-large;
}

.button {
  text-decoration: none;
}

.title {
  text-decoration: none;
}

.display-cars {
    display: flex;
    padding: 10px 60px 0px 0px;
    justify-content: end;
}

/* Cars Dropdown Menu */

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
}

/* Dropdown Content */
.dropdown-cars {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-cars button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-cars button:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-cars {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* -USER DROPDOWN MENU- */

/* Dropdown Button */

.user-dropdown {
    padding: 0px 0px 0px 10px;
}

.user-dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
}

/* Dropdown Content */
.user-dropdown-cars {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.user-dropdown-cars button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.user-dropdown-cars button:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.user-dropdown:hover .user-dropdown-cars {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown:hover .user-dropbtn {
    background-color: #3e8e41;
}

/* Car Data style */

.car-data {
    display: flex;
    padding: 30px;
}

/* Seeded Car Data Style */

.seed-cars {
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 15%;
}

.seed-make {
    border: 3px solid black;
}

.seed-model {
    border: 3px solid black;
}

.seed-year {
    border: 3px solid black;
}

.seed-engine {
    border: 3px solid black;
}

.seed-price {
    border: 3px solid black;
}

/* User Car Data Style */

.user-cars {
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 15%;
}

.user-make {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-model {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-year {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-engine {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-price {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

/* Create Car Data Style */

.create {
    display: flex;
    justify-content: end;
}

.user-cars-create {
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 15%;
}

.user-make-create {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-model-create {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-year-create {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-engine-create {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}

.user-price-create {
    border: 3px solid black;
    font-size: 24px;
    width: 95%;
}